/*=======reset css========*/
*,
*::before,
*::after {
  /*所有的标签，和伪元素都选中*/
  margin: 0;
  padding: 0;
  /*移动端常用布局是非固定像素*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;


}
html {
  font-size: 50px;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

input,
textarea {
  border: none;
  outline: none;
  /*不允许改变尺寸*/
  resize: none;
  /*元素的外观  none没有任何样式*/
  -webkit-appearance: none;
}
 input::-webkit-input-placeholder {
   color: #eef0f2;
 }

 input::-moz-placeholder {
   /* Mozilla Firefox 19+ */
   color: #eef0f2;
 }

 input:-moz-placeholder {
   /* Mozilla Firefox 4 to 18 */
   color: #eef0f2;
 }

 input:-ms-input-placeholder {
   /* Internet Explorer 10-11 */
   color: #eef0f2;
 }
/*=======common css========*/


.clearFix::before,
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}



